*{
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.conteneur{
    width: 1000px;
    border: 1px solid white;
    margin: 0 auto;
    background: lightskyblue;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid orange;
}

.row-reverse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid green;
}

header{
    text-align: center;
}

footer{
    padding: 10px;
}

/********** trois colonnes égales cotes à cotes **************/

.col-1{width: 8.333333%;}
.col-2{width: 16.666666%;}
.col-3{width: 25%;}
.col-4{width: 33.333333%;}

.col-5{width: 41.666666%;}
.col-6{width: 50%;}
.col-7{width: 58.333333%;}
.col-8{width: 66.666666%;}

.col-9{width: 75%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666666%;}
.col-12{width: 100%;}


/***************** les marges GAUCHE ************************/

.marge-1{margin-left: 8.333333%;}
.marge-2{margin-left: 16.666666%;}
.marge-3{margin-left: 25%;}

.marge-4{margin-left: 33.333333%;}
.marge-5{margin-left: 41.666666%;}
.marge-6{margin-left: 50%;}

.marge-7{margin-left: 58.333333%;}
.marge-8{margin-left: 66.666666%;}
.marge-9{margin-left: 75%;}

.marge-10{margin-left: 83.333333%;}
.marge-11{margin-left: 91.666666%;}
.marge-12{margin-left: 100%;}

/******************* les couleurs ********************/

.bleu{background: blue; min-height: 60px;}
.rouge{background: red; min-height: 60px;}
.vert{background: green; min-height: 60px;}
.jaune{background: darkgoldenrod; min-height: 60px;}
.marron{background: saddlebrown; min-height: 60px;}
.noir{background: black; min-height: 60px;}

/* .black{background: #581845;}
.brown{background: #900C3F;}
.light_brown{background: #C70039;}
.skin{background: #F4E5B2;}
.pink{background: #D6C89C;}
.darker_green{background: #004B35;}
.dark_green{background: #007C59;}
.green{background: #00956B;}
.light_green{background: #00C78E;}
.yellow{background: #FFC300;}
.cream{background: #FFE180;}
.light_cream{background: #FFF8DF;}
.darker_blue{background: #0065BF;}
.dark_blue{background: #0086FF;}
.blue{background: #60B3FF;}
.light_blue{background: #0FD2FF;}
.lighter_blue{background: #DFF0FF;} */
/* http://angelmarkos.free.fr/partage/hetic/mario.jpg */



/* media queries, pour les écrans */

/* téléphones, mobile ex.iphone5 */

@media (max-width: 320px){
    body{
        background-color: lightgray;
    }

    .conteneur{
        width: 100%;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }

        h1{
        font-size: 120%;
        text-align: left;
        padding-left: 5px;
        color: white;
    }

    header p {
        color: white;
        text-align: left;
        padding-left: 5px;
        
    }

}


/* petites tablettes */

@media (min-width: 321px) and (max-width: 767px) {
    body{
        background: #B18B45;
    }
    .conteneur{
        width: 100%;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
}

/* tablettes et ordinateurs portables, desktop */

@media (min-width: 768px) and (max-width: 1096px) {
        body{
        background: royalblue;
    }
    .conteneur{
        width: 100%;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
}

/* écran ordinateurs de bureau */

@media (min-width: 1097px){
    body{
        background: red;
    }
    .conteneur{
        width: 100%;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
}